.LadoIzquierdo{
    margin: 25px;
    width: 400px;
    height: 900px;
    background-color: rgb(255, 0, 0);
}

#FotoPerfil{
    width: 250px;
    height: 150px;
    padding: 40px 75px;
}

.Nombre{
    text-align: center;
    color: white;
    font-size: 50;
}

.Descripcion{
    text-align: center;
    color: white;
    font-size: 25;
}